*, *:before, *:after {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

h1, p {
    padding: 10px;
}

.flx-map {
    margin-top: -20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.map-title {
    width: 100%;
    position: absolute;
    top: 50px;
    opacity: .6;
    background-color: white;
    z-index: 1000;
    font-size: 3em;
    font-weight: bold;
    padding: .2em;
    text-align: center;
}

.map {
    flex: 1;
    margin-bottom: 50px;
}

.legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
    width: 180px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.archi {
    margin-top: -20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.archi > img {
    flex: 0 0 auto;
}