extends layout

block content
	.container
		.jumbotron
			h1 Welcome on iFLUX MapBox Viewer

			p
				| You will be able to visualize maps related to&nbsp;
				a(href="http://www.iflux.io" target="_blank") iFLUX
				| &nbsp;projects made for demo.
